<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="e.mail.ru" parallel="tests">
    <test name="testing in Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="ru.ifmo.se.testing.zavoduben.lab3.LoginTest"/>
            <class name="ru.ifmo.se.testing.zavoduben.lab3.InboxTest"/>
        </classes>
    </test>
    <test name="testing in Firefox">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="ru.ifmo.se.testing.zavoduben.lab3.LoginTest"/>
            <class name="ru.ifmo.se.testing.zavoduben.lab3.InboxTest"/>
        </classes>
    </test>
</suite>
